# compiled output
**/dist
**/global-s3-assets
**/regional-s3-assets
**/staging
**/open-source
**/.zip
**/tmp
**/out-tsc
**/build

# dependencies
**/node_modules

# test assets
**/coverage
**/coverage-reports
**/.nyc_output
**/mock-*

# misc
**/npm-debug.log
**/testem.log
**/.vscode/settings.json


# System Files
**/.DS_Store
**/.vscode
**/.idea

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
